.orders-ticket-widget-container {
  .widget-title {
    margin-bottom: 30px;
  }
  .widget-header {
    margin-bottom: 30px;
    .summit-title {
      font-size: 2em;
      line-height: 0.5;
    }
    .summit-date {
      font-size: 1.4em;
    }
  }
}
