.order-wrapper {
  padding: 0;
  margin: 0;
  border: 1px solid #bdbdbd;
  max-width: 643px !important;
  position: relative;
  min-height: 178px;
  &:after {
    background: #ffffff;
    position: absolute;
    content: '';
    right: -1px;
    top: 35%;
    width: 25px;
    height: 50px;
    border-radius: 150px 0 0 150px;
    border: 1px solid #bdbdbd;
    border-right-color: transparent;
  }
}
