<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        :root {
            --color_primary: #6D6E71;
            --color_primary50: #6D6E7150;
            --color_primary_contrast: #f1f2f2;
            --color_secondary: #1EAAA3;
            --color_secondary50: #1EAAA350;
            --color_secondary_contrast: #ff5e32;
            /* LIGHT MODE */
            /*
            --color_background_light: #FFFFFF;
            --color_background_dark: #000000;
            --color_text_dark: #4A4A4A;
            --color_text_med: #828282;
            --color_text_light: #FFFFFF;
            --color_gray_darker: #4A4A4A;
            --color_gray_dark: #999999;
            --color_gray_light: #DFDFDF;
            --color_gray_lighter: #F2F2F2;
            */
            /* END LIGHT MODE */
            /* DARK MODE */

            --color_background_light: #000000;
            --color_background_dark: #FFFFFF;
            --color_text_dark: #FFFFFF;
            --color_text_med: #828282;
            --color_text_light: #4A4A4A;
            --color_gray_darker: #F2F2F2;
            --color_gray_dark: #DFDFDF;
            --color_gray_light: #999999;
            --color_gray_lighter: #4A4A4A;

            /* END DARK MODE */
        }
    </style>

    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>My Orders / Tickets Widget</title>
    </head>
    <body>
        <div id="root" style="background-color: var(--color_background_light)"></div>
    </body>
</html>
